netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/appsettings.Development.json
netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/appsettings.json
netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/netcoreTest.deps.json
netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/netcoreTest.dll
netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/netcoreTest.exe
netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/netcoreTest.pdb
netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/netcoreTest.runtimeconfig.dev.json
netcoreTest/netcoreTest/bin/Debug/netcoreapp3.1/netcoreTest.runtimeconfig.json
netcoreTest/netcoreTest/obj/netcoreTest.csproj.nuget.dgspec.json
netcoreTest/netcoreTest/obj/netcoreTest.csproj.nuget.g.props
netcoreTest/netcoreTest/obj/netcoreTest.csproj.nuget.g.targets
netcoreTest/netcoreTest/obj/project.assets.json
netcoreTest/netcoreTest/obj/project.nuget.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/apphost.exe
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.AssemblyInfo.cs
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.AssemblyInfoInputs.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.assets.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.csproj.CoreCompileInputs.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.csproj.FileListAbsolute.txt
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.dll
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.genruntimeconfig.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.MvcApplicationPartsAssemblyInfo.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.pdb
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/netcoreTest.RazorTargetAssemblyInfo.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/staticwebassets/netcoreTest.StaticWebAssets.Manifest.cache
netcoreTest/netcoreTest/obj/Debug/netcoreapp3.1/staticwebassets/netcoreTest.StaticWebAssets.xml
